.challenge-upload-heading {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 1;
    color: #454cad;
    margin-bottom: 0;
}

.challenge-upload-lead {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #5f6982;
}

.challenge-upload-form {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.challenge-upload-form .challenge-upload-file-drag {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.challenge-upload-form .challenge-upload-file-drag:hover {
    border-color: #454cad;
}

.challenge-upload-form .challenge-upload-file-drag.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
}

.challenge-upload-form .challenge-upload-file-drag.hover #challenge-upload-start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
}

.challenge-upload-form #challenge-upload-start {
    float: left;
    clear: both;
    width: 100%;
}

.challenge-upload-form #challenge-upload-start.hidden {
    display: none;
}

.challenge-upload-form #challenge-upload-start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}

.challenge-upload-form #challenge-upload-response {
    float: left;
    clear: both;
    width: 100%;
}

.challenge-upload-form #challenge-upload-response.hidden {
    display: none;
}

.challenge-upload-form #challenge-upload-response #challenge-upload-messages {
    margin-bottom: 0.5rem;
}

.challenge-upload-form #challenge-upload-file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
}

.challenge-upload-form #challenge-upload-file-image.hidden {
    display: none;
}

.challenge-upload-form .challenge-upload-notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}

.challenge-upload-form .challenge-upload-notimage.hidden {
    display: none;
}

.challenge-upload-form progress,
.challenge-upload-form .challenge-upload-progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
}

.challenge-upload-form .challenge-upload-progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
}

.challenge-upload-form .challenge-upload-progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}

.challenge-upload-form .challenge-upload-progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}

.challenge-upload-form .challenge-upload-file-upload {
    display: none;
}

.challenge-upload-form div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
}

.challenge-upload-form .challenge-upload-btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}

.challenge-upload-container {
    padding: 15px;
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.7);
}

.challenge-upload-container-completed {
    padding: 15px;
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.7);
    align-self: center;
}

.challenge-upload-inner {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}

.challenge-upload-inner-completed {
    border: 2px solid #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}