/* .home-body {} */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

/*START CARD*/

.ag-format-container {
    margin: 0 auto;
}

.ag-courses_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 10px;
    align-items: center;
    justify-content: center;

}



.ag-courses_item {
    overflow: hidden;
    border-radius: 28px;
    min-width: 250px;
    max-width: 600px;
    gap: 10px 10px;
}



.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;

    overflow: hidden;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses-item_bg-completed {
    background-color: #228b22;
}

.ag-courses-item_bg-uncompleted {
    background-color: #cd3e94;
}

/*END CARD*/